.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 2px;

}

.column img {
  margin-top: 4px;
  vertical-align: middle;

}

img{

  height: 75%;
  width: 75%;
  padding-bottom: 4px;
}

.sidebar-nav{
  margin: 0.5em 0em 0em 0em;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;

}
.sidebar-nav a {
  display: block;
  padding: 16px;
  text-decoration: none;
}

.sidebar-nav a:hover {
  background-color: #555;
  color: white;
  text-decoration: none;
}
li.active a{
  background-color: #555;
  color: white;
  text-decoration: none;
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar-nav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar-nav a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar-nav a {
    text-align: center;
    float: none;
  }
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  img{
    height: 85%;
    width: 85%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;

  }
  img{
    height: 90%;
    width: 90%;
  }
}