
			<div id="preference-filter">
				<form action="{% url 'preference-filter' %}" method="POST">
					{% csrf_token %}
					<label>
						<input type="checkbox" name="pref"  value="tshirts">T-shirts
					</label>
					<label>
						<input type="checkbox" name="pref" value="shirts">Shirts
					</label>
					<label>
						<input type="checkbox" name="pref" value="jeans">Jeans

					</label>
					<label>
						<input type="checkbox" name="pref" value="kurtas">Kurtas

					</label>
					<label>
						<input type="checkbox" name="pref" value="tops">Tops

					</label>
					<label>
						<input type="checkbox" name="pref" value="dresses">Dresses

					</label>
					<label>
						<input type="checkbox" name="pref" value="skirts">Skirts

					</label>
					<label>
						<input type="checkbox" name="pref" value="shorts">Shorts

					</label>
					<label>
						<input type="checkbox" name="pref" value="kurta-sets">Kurta sets

					</label>
					<label>
						<input type="checkbox" name="pref" value="leggings">Leggings

					</label>
					<label>
						<input type="checkbox" name="pref" value="tights">Tights

					</label>
					<label>
						<input type="checkbox" name="pref" value="track-pants">Trackpants
					</label>
					<label>
						<input type="checkbox" name="pref" value="trousers">Trousers
					</label>
					<label>
						<input type="checkbox" name="pref" value="M">Male
					</label>
					<label>
						<input type="checkbox" name="pref" value="F">Female
					</label>
					<button type="submit" id="filter-button">Filter</button>
				</form>
				
				
			</div>	
<div id="filtered-div" class="row">
	{% for i in items %}
					<div class="column">
						<a href=""><img src="{{ i }}"></a>
					</div>
	{% endfor %}			
</div>