{% extends 'base_generic.html' %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block content %}
<head>
<script type="text/javascript">
	
	$(document).ready(function(event){
		$('#recommend-button').attr('disabled', 'disabled');
		function checkDropdown(){
			
			if (buttonDisable()) {
				console.log('disabled')
		        $('#recommend-button').attr('disabled', false);
		    } else {
		        $('#recommend-button').attr('disabled', 'disabled');
		    }
		}
		function buttonDisable(){
			console.log('called')
			console.log($('#preferences').val())
			if ($('#preferences').val() != '' ) {
	        	return true;
	    	} else {
	        	return false;
	    	}

		}
		$('#preferences').change(checkDropdown);
	});
		
	$(document).ready(function(event){
		
        $(document).on('click', '#filter-button', function(event){
        	event.preventDefault()
            var filters = []
            var rec_ids = {{ ids|safe }}
            
            $.each($("input[name='pref']:checked"), function(){
            		filters.push($(this).val());

            });
            
            $.ajax({
            	type: 'GET',
            	url: '{% url "preference-filter" %}',
            	data:{
            		'ids': '{{ ids }}',
            		'filters': JSON.stringify(filters),
            		'csrfmiddlewaretoken': '{{ csrf_token }}'

            	},
            	dataType: 'json',
            	success: function(response){
            		$('#preference-filter').html(response['form'])
            		$('#recommended-div').fadeOut()
            		

            		console.log($('#preference-filter').html(response['form']));
            	},
            	error: function(rs, e){
            		console.log(rs.responseText)
            	},
            });
     
        });
    });
    $(document).ready(function(event){

        $(document).on('click', '#cancel-button', function(event){
        	$('#recommended-div').fadeIn()
        	$('#filtered-div').fadeOut()
			    
        });
    });
    $(document).ready(function(event){
        $('input[type=checkbox]').prop('checked',false);		
    });

    
</script>
</head>
<h1>Recommended items</h1>

	<form action="{% url 'recommended' %}" method="POST" >
		{% csrf_token %}
		<select id="preferences" name="preferences">
			<option selected="Preference" value=''>Select preference</option>
			<option value="item_type">Type</option>
			<option value="color">Color</option>
			<option value="fit">Fit</option>
			<option value="occasion">Occasion</option>
			<option value="pattern">Pattern</option>
			<option value="fabric">Fabric</option>
			<option value="length">Length</option>

		</select>
		<input type="submit" name="recommend-button" id="recommend-button" value="Recommend">
	</form>
	<button id="cancel-button" value="Cancel filters">Cancel filters</button>

	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}

		</ul>
	
	{% else %}
		
		{% if rec %}
			{% include 'recommender/filter_section.html' %}
		{% endif %}
			
			<div id="recommended-div" class="row">
			{% for u,i in rec %}

				<div class="column">
					<a href="{% url 'item-detail' i %}"><img src="{{ u }}" alt="Unable to load image at this moment"></a>
				</div>
				
			
			{% endfor %}
			</div>
		
			
	{% endif %}

{% endblock %}