{% extends 'base_generic.html' %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block content %}
	<div id="item-container" style="width:50%; height:400px;"></div>
	<div id="brand-container" style="width:50%; height:400px;"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script type="text/javascript">
	var all = '{{ all|safe }}'
	var all1 = '{{ all1|safe }}'
	var all2 = '{{ all2|safe }}'
	var all3 = '{{ all3|safe }}'
	var all4 = '{{ all4|safe }}'
	var all_count = '{{ all_count|safe }}'
	var all_count1 = '{{ all_count1|safe }}'
	var all_count2 = '{{ all_count2|safe }}'
	var all_count3 = '{{ all_count3|safe }}'
	var all_count4 = '{{ all_count4|safe }}'
	Highcharts.chart('item-container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'All liked items breakdown'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true,
            
        }
    },
	    series: [{
        name: 'All items',
        colorByPoint: true,
	        data: [{

	            name: all,
	            y: parseInt(all_count)
	            
	            
	        }, {
	            name: all1,
	            y: parseInt(all_count1)
	            
	        }, {
	            name: all2,
	            y: parseInt(all_count2)
	            
	        }, {
	            name: all3,
	            y: parseInt(all_count3)
	            
	        }, {
	            name: all4,
	            y: parseInt(all_count4)
	            
	        }]
    	}]
	});

	var all_brands = {{ all_liked_brands|safe }}     
	var all_brands_count = {{ all_liked_brands_count|safe }}
	Highcharts.chart('brand-container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'All liked brands breakdown'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true,
            
        }
    },
	    series: [{
        name: 'All brands',
        colorByPoint: true,
	        data: [{
	            name: all_brands[0],
	            y: parseInt(all_brands_count[0])
	            
	            
	        }, {
	            name: all_brands[1],
	            y: parseInt(all_brands_count[1])
	            
	        }, {
	            name: all_brands[2],
	            y: parseInt(all_brands_count[2])
	            
	        }, {
	            name: all_brands[3],
	            y: parseInt(all_brands_count[3])
	            
	        }, {
	            name: all_brands[4],
	            y: parseInt(all_brands_count[4])
	            
	        }]
    	}]
	});
	
	
</script>
{% endblock %}


